@import "sass/globalStyles";

.cart_container {
  position: relative;
  color: lighten($color_secondary, 30%);
  .cart_list_container {
    max-height: 35vh;
    overflow-y: auto;
    margin: 0.5rem;
    .cart_list_items {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: $fontSize_normal;

      .cart_list_item {
        display: flex;
        margin-bottom: 0.75rem;

        span {
          display: flex;
          padding-right: 0.5rem;
        }

        > :nth-child(1) {
          flex: 1;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        > :nth-child(2) {
          flex: 1.5;
          display: flex;
          padding-right: 0;
          align-items: center;

          :nth-child(odd) {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 0;
            cursor: pointer;
            font-size: $fontSize_medium;
            &:hover {
              color: darken($color_secondary, 5%);
            }
            &:active {
              transform: scale(0.95);
            }
          }
          :nth-child(even) {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 0;
          }
        }

        > :nth-child(3) {
          flex: 1.5;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        > :nth-child(4) {
          flex: 0.25;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          * {
            font-size: $fontSize_medium;
            display: inline-block;
            cursor: pointer;
            &:hover {
              color: darken($color_secondary, 5%);
            }
            &:active {
              transform: scale(0.95);
            }
          }
        }
      }
    }
  }

  .close_button_empty_cart {
    @include buttonStyle(#fff, darken($color_secondary, 5%));
    padding: $padding_small $padding_extra_large;
  }

  .cart_summary_container {
    .cart_total_amount {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: $fontSize_medium;
      margin: 1rem 0.75rem 1rem 0.25rem;
    }
    .cart_actions_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $fontSize_normal;

      .clear_button {
        @include buttonStyle(#fff, transparent);
        padding: $padding_small $padding_extra_large;
        margin: 0.25rem;
        box-shadow: inset 0px 0px 0px 1px darken($color_secondary, 5%);
        &:hover {
          background-color: darken($color_secondary, 20%);
          box-shadow: inset 0px 0px 0px 1px darken($color_secondary, 20%);
        }
      }

      .close_button {
        @include buttonStyle(#fff, transparent);
        padding: $padding_small $padding_extra_large;
        margin: 0.25rem;
        box-shadow: inset 0px 0px 0px 1px darken($color_secondary, 5%);
        &:hover {
          background-color: darken($color_secondary, 20%);
          box-shadow: inset 0px 0px 0px 1px darken($color_secondary, 20%);
        }
      }

      .order_button {
        @include buttonStyle(#fff, darken($color_secondary, 5%));
        padding: $padding_small $padding_extra_large;
        margin: 0.25rem;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .cart_list_container {
    * {
      font-size: 14px;
      font-weight: normal;
    }
  }

  .cart_summary_container {
    * {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 350px) {
  .cart_list_container {
    * {
      font-size: 13px;
      font-weight: normal;
    }
  }

  .cart_summary_container {
    * {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
