@import "sass/globalStyles";

.snack_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;

  .snack_item_details_container {
    .snack_item_name {
      margin: 0 0 0.25rem 0;
      font-size: $fontSize_medium;
    }

    .snack_item_description {
      font-style: italic;
      font-size: $fontSize_small;
    }

    .snack_item_price {
      margin-top: 0.25rem;
      font-weight: 500;
      color: darken($color_accent, 45%);
      font-size: $fontSize_normal;
    }
  }
}
