@import "sass/globalStyles";

.app_container {
  width: 100vw;
  min-height: 100vh;
  background: $color_primary;
  padding-bottom: 3rem;
}

.overflow_hidden {
  max-height: 100vh;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  border: 1px solid #ddd;
  border-radius: 999px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color_primary;
  border-radius: 999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten($color_accent, 10%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($color_accent, 0%);
}

::-webkit-scrollbar-thumb:active {
  background: darken($color_accent, 10%);
}
