@import "sass/globalStyles";

.app_container {
  width: 100vw;
  min-height: 100vh;
  background: $color_primary;
  padding-bottom: 3rem;
}

.overflow_hidden {
  max-height: 100vh;
  overflow: hidden;
  transition: all 0ms ease-out;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  border: 1px solid #ddd;
  border-radius: 999px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid #999999;
  border-radius: 999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten(#666, 10%);
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten(#666, 0%);
}

::-webkit-scrollbar-thumb:active {
  background: darken(#666, 10%);
}
